<h1>Hello there!</h1>
<br>
<br>
<form action="/greet" method="post">
  <p>What's your name?</p>
<input type="text" name="name">
<p>When's your birthday?</p>
<input type="date" name="birthday">
<input type="submit" value="Go!">
</form>
